{% extends 'blog/base.html' %}

{% block content %}

<div class="w3-row w3-padding w3-border">
    <div class="w3-col l8 s12">
        <div class="w3-container w3-white w3-margin w3-padding-large post" >
          <div class="w3-right">
            {% if user.is_authenticated %}
            <a class="btn btn-info" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-danger" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}

          <!-- Post title and published data -->
              {% if post.published_date %}
                <div class="date w3">
                  {{ post.published_date }}
                </div>
              {% else %}
                  <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
              {% endif %}
            </div>
            <hr>
            <h2 style="color:#6699ff" class="w3-center">{{ post.title }}</h2>
            {% for image in post.images.all %}
              <img src="{{ image.url}}" style="width: 50%;" class="w3-padding-16">
            {% endfor%}
            <p>{{ post.text|linebreaksbr }}</p>
            <hr>
            <p class="w3-center " style="color:white;background-color:grey;"> All comments<p>
            <a class="btn btn-info w3-right" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
            <br>
            {% for comment in post.comments.all %}
              <div class="comment">
                <!-- Approved comments -->

                <div class="date">
                  {{ comment.created_date }}
                  {% if user.is_authenticated %}
                  <a class="btn btn-danger" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                  {% endif %}
                </div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
      
                </div>
              {% empty %}
              <p>No comments here yet :(</p>
            {% endfor %}
          </div>
        </div>
    </div>
{% endblock %}
