{% extends 'blog/base.html' %}

{% block content %}
<h1>Search Page</h1>

<br/>
<form action="{% url 'post_search' %}" method="GET" value="{{request.GET.q}}">
Search <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search posts"/>
<input type="submit" name="submit" value="Search"/>
</form>


{% if submitbutton == 'Search' and request.GET.q != '' %}
{% if results %}
<h1>Results for <b>{{ request.GET.q }}</b></h1>


{% for result in results %}
<div class="w3-container w3-white w3-margin w3-padding-large post">
  <div class="w3-center">
    <h3 style="color:#6699ff"><a href="{% url 'post_detail' pk=result.pk %}"">{{result.title}}</a></h3>
    <h5><span class="w3-opacity">{{result.text}}</span></h5>
<div>
  <div>


{% endfor %}
{% else %}
No search results for this query
{% endif %}
{% endif %}

{% endblock %}
