{% extends 'blog/base.html' %}

{% block content %}
<br>
<div class="content container">
  {%if form.instance.pk  %}
  <a href="{% url 'simple_upload2' pk=form.instance.pk %}" class="top-menu"><span class="glyphicon glyphicon-upload w3-black"></span></a>
  {%endif%}




    <div class="row">
        <div class="col-md-8">
          <div class="w3-card-4">
            <div class="w3-container w3-grey">
              <h2 style="color:white;">New post</h2>
            </div>
            <br>
            <form method="POST" class="w3-container">
              {% csrf_token %}
              <!-- csrf_token will make the form secure -->
              <!-- Display the form -->
              <!-- Only will display title and text now due to the forms.py -->
                <label class="w3-text-brown">Title</label><br>
                <input class="w3-input w3-border w3-sand" type="text" name="title" value = "{{ form.instance.title }}"><br>
                <label class="w3-text-brown">Text</label><br>
                <textarea rows="4" cols="50" name="text" class="w3-input w3-border w3-sand">{{ form.instance.text }}</textarea><br>
                <br>
                <a class="container w3-opacity" href="{%url 'error' %}">Reminder: In the EDIT MODE , If you are not the one who create this post, the save function will not work when you try to edit this post</a>
                <br>
                <button type="submit" class="btn btn-success w3-right">Save</button>
                <br>



                <p><a href="{% url 'index' %}">Return to home</a></p>
              </form>
              <br>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
